<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title></title>
  <script src="https://crowdin-web-components.s3.amazonaws.com/crowdin-web-components.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>

  <script src="/polyfills/promise.js"></script>
  <script src="/polyfills/fetch.js"></script>
  <style type='text/css'>
    .i_w {
      padding: 16px 24px;
      max-width: 1420px;
      margin: 0 auto;
    }

    .center {
      text-align: center;
      min-height: calc(100vh - 64px);
      display: flex;
      align-items: center;
      justify-content: space-around;
    }

    .top {
      text-align: right;
      margin-bottom: 10px;
    }

    .login {
      margin-bottom: 10px;
    }

    .login img {
      max-width: 70px;
      max-height: 70px;
      width: auto;
      height: auto;
    }

    .login crowdin-h4 {
      margin: 8px 0 16px;
    }
  </style>
</head>
<body>
<template id=integration>
  <div class='top'>
    <crowdin-button icon-before="account_circle" onclick="integrationLogOut()">Log out</crowdin-button>
  </div>
  <crowdin-simple-integration>
  </crowdin-simple-integration>
</template>
<template id="login">
  <div class="center">
    <div>
      <crowdin-card is-shadowed is-padding-lg class="login">
        <img alt='Integration logo' src='/assets/logo.svg'/>
        <crowdin-h4 id="integration-name">Integration name</crowdin-h4>
        <crowdin-button
            outlined
            icon-after="arrow_forward"
            onclick="integrationLogin()"
        >
          Log In With Integration
        </crowdin-button>
      </crowdin-card>
      <!--<crowdin-a href="#" target="_blank">Learn more</crowdin-a>-->
    </div>
  </div>
</template>
<div class='i_w'>
  <div class="center">
    <div>
      <h1></h1>
      <crowdin-progress-indicator></crowdin-progress-indicator>
    </div>
  </div>
</div>
<crowdin-toasts></crowdin-toasts>
<script type=text/javascript>
  let socket = io();
  socket.on('message', (event) => {
    showToast(event.message || message);
    event.reload && isInstalled();
    event.refreshCrowdin && getCrowdinFiles();
    event.refreshIntegration && getIntegrationFiles();
    event.error && event.e && console.error(event.e);
  });

  if (!window.Promise) {
    window.Promise = Promise;
  }

  let manifest = { name: 'Mailchimp' };
  let urlParams = new URLSearchParams(window.location.search);
  let origin = urlParams.get('origin');
  let client_id = urlParams.get('client_id');
  let tokenJwt = urlParams.get('tokenJwt');
  let restParams = window.location.search;

  socket.on('connect', () => {
    try {
      let decoded = parseJwt(tokenJwt);
      socket.emit('createTunnel', {
        tunnelId: `${decoded.domain}__${decoded.aud}__${decoded.context.project_id}`,
      });
    } catch(e) {
      console.log('Can\'t establish web-socket connection');
    }
  });

  let postPromises = {};

  function showToast(message) {
    if(!!message) {
      toasts = document.querySelector('crowdin-toasts');
      if(toasts && toasts.pushToasts) {
        toasts.pushToasts([message]);
      } else {
        setTimeout(() => {
          toasts.pushToasts([message]);
        }, 1000);
      }
    }
  }

  function catchRejection(e, message = undefined) {
    // here the right place to console.log what goes wrong
    // console.log('err -------------->', e);
    showToast(e.error || message);
  }

  function checkResponse(response) {
    return new Promise((resolve, reject) => {
      if(response.status === 204) {
        return resolve();
      }
      if(response.status === 500) {
        return reject(500);
      }
      response.json()
        .then(res => {
          if(![200, 201].includes(response.status)) {
            reject(res);
          } else {
            resolve(res);
          }
        })
        .catch(e => {
          reject(e);
        });
    });
  }

  function parseJwt(token) {
    const base64Url = token.split('.')[1];
    const base64 = base64Url.replace(/-/g, '+').replace(/_/g, '/');
    const jsonPayload = decodeURIComponent(atob(base64).split('').map(function(c) {
      return '%' + ('00' + c.charCodeAt(0).toString(16)).slice(-2);
    }).join(''));

    return JSON.parse(jsonPayload);
  }

  function parentWindowPostMessage(data) {
    return new Promise((resolve, reject) => {
      window.parent.postMessage(
        JSON.stringify(data),
        origin
      );
      let tId = setTimeout(() => {
        reject();
      }, 10000);
      postPromises[data.uid] = {resolve: resolve, timer: tId};
    });
  }

  function checkOrigin() {
    return new Promise((resolve, reject) => {
      try {
        let tokenData = parseJwt(tokenJwt);
        if(tokenData.exp < parseInt(new Date().getTime() / 1000)) {

          // request for new token
          parentWindowPostMessage({
            client_id: client_id,
            command: 'token',
            uid: new Date().getTime(),
            data: {}
          })
            .then((eventData) => {
              restParams = `?origin=${origin}&client_id=${client_id}&tokenJwt=${eventData.tokenJwt}`;
              tokenJwt = eventData.tokenJwt;
              resolve(restParams);
            })
            .catch(() => reject());

        } else {
          resolve(restParams);
        }
      } catch(e) {
        reject();
      }
    });
  }

  if(!origin || !client_id || !tokenJwt) {
    catchRejection(null, 'Request has no origin data (clientId, tokenJWT)');
  }

  (function getManifest() {
    fetch('/manifest.json')
      .then((response) => {
        return checkResponse(response);
      })
      .then((res) => {
        manifest = res;
        document.title = res.name;
        let el = document.querySelector('.i_w h1');
        if(!!el) {
          el.innerText = manifest.name;
        }
        isInstalled();
      })
      .catch(e => {
        catchRejection(e, 'Can\'t fetch manifest.json');
      });
  })();

  function getLoginTemplate() {
    let login = document.querySelector('#login').content.cloneNode(true);
    document.querySelector('.i_w').innerHTML = '';
    login.querySelector('crowdin-h4').innerHTML = manifest.name;
    login.querySelector('crowdin-button').innerHTML = `LOG IN WITH ${manifest.name}`;
    document.querySelector('.i_w').appendChild(login);
  }

  function isInstalled() {
    checkOrigin()
      .then(restParams => {
        return fetch('/status' + restParams);
      })
      .then((response) => {
        return checkResponse(response);
      })
      .then((res) => {
        if(!res.isInstalled) {
          document.querySelector('.i_w .center div').innerHTML =
            `<h1>Looks like ${manifest.name} is not installed yet!</h1>
                        <p>Contact your organization administrator to install it. More info on <a href='https://support.crowdin.com'>Link to how to install</a></p>`;
        } else if(!res.isLoggedIn) {
          getLoginTemplate();
        } else {
          let el = document.querySelector('.i_w');
          let template = document.getElementById('integration');
          el.innerHTML = '';
          el.appendChild(template.content.cloneNode(true));
          prepareComponent();
        }
      }).catch(e => {
      catchRejection(e, 'Can\'t check instalation status');
    });
  }

  function integrationLogin() {
    const left = screen.width / 2 - 300;
    const top = screen.height / 2 - 350;
    const config = 'toolbar=no, menubar=no, width=600, height=700, top=' + top + ', left=' + left;
    window.open('/integration-login', manifest.name, config);
  }

  window.addEventListener('message', handleMessage);

  function handleMessage(event) {
    if(event.data === 'reload') {
      isInstalled();
    } else {
      let eventData = JSON.parse(event.data);
      if(postPromises[eventData.uid]) {
        clearTimeout(postPromises[eventData.uid].timer);
        postPromises[eventData.uid].resolve(eventData.data);
      }
    }
  }

  function prepareComponent() {
    let el = document.querySelector('crowdin-simple-integration');
    el.setAttribute('integration-name', manifest.name);
    el.setAttribute('integration-logo', '/assets/logo.svg');
    getIntegrationFiles();
    getCrowdinFiles();
  }

  function setComponentData(res, key, attr) {
    let el = document.querySelector('crowdin-simple-integration');
    if(el[key]) {
      el[key](res);
      el.setAttribute(attr, false);
    } else {
      setTimeout(() => {setComponentData(res, key, attr)}, 100);
    }
  }

  function getIntegrationFiles() {
    let el = document.querySelector('crowdin-simple-integration');
    el.setAttribute('is-integration-loading', true);
    checkOrigin()
      .then(restParams => {
        return fetch('/integration-data' + restParams);
      })
      .then((response) => {
        return checkResponse(response);
      })
      .then((res) => {
        setComponentData(res, 'setIntegrationFilesData', 'is-integration-loading');
      })
      .catch(e => {
        el.setAttribute('is-integration-loading', false);
        catchRejection(e, 'Can\'t fetch integration files');
      });
  }

  function getCrowdinFiles() {
    let el = document.querySelector('crowdin-simple-integration');
    el.setAttribute('is-crowdin-loading', true);
    checkOrigin()
      .then(restParams => {
        return fetch('/crowdin-data' + restParams)
      })
      .then((response) => {
        return checkResponse(response);
      })
      .then((res) => {
        getProjectData();
        setComponentData(res, 'setCrowdinFilesData', 'is-crowdin-loading');
      })
      .catch(e => {
        el.setAttribute('is-crowdin-loading', false);
        catchRejection(e, 'Can\'t fetch Crowdin files');
      });
  }

  function getProjectData() {
    checkOrigin()
      .then(restParams => {
        return fetch('/get-project-data' + restParams)
      })
      .then((response) => {
        return checkResponse(response);
      })
      .then((res) => {
        setComponentData(res.projectTargetLanguages, 'setCrowdinLanguagesData', 'is-crowdin-loading');
      })
      .catch(e => {
        catchRejection(e, 'Can\'t fetch project data');
      });
  }

  function crowdinFilesFolderToggled(event) {
    if(event.detail.componentId === 'crowdin-files' && event.detail.isOpen) {
      getFileProgress(event.detail.id);
    }
  }

  document.body.addEventListener('crowdinFilesFolderToggled', crowdinFilesFolderToggled);

  function getFileProgress(fileId) {
    checkOrigin()
      .then(restParams => {
        return fetch('/get-file-progress' + restParams, {
          method: 'POST',
          headers: {'Content-Type': 'application/json'},
          body: JSON.stringify({fileId})
        })
      })
      .then((response) => {
        return checkResponse(response);
      })
      .then((res) => {
        let el = document.querySelector('crowdin-simple-integration');
        el.addCrowdinFileProgress(res);
      })
      .catch(e => {
        catchRejection(e, 'Can\'t fetch file progress');
      });
  }

  function integrationLogOut() {
    checkOrigin()
      .then(restParams => {
        return fetch('/integration-log-out' + restParams)
      })
      .then((response) => {
        return checkResponse(response);
      })
      .then(res => {
        getLoginTemplate();
        integrationLogin();  // immediately show login form again
      })
      .catch(e => {
        catchRejection(e, 'Looks like you are not logged in');
        window.location.reload();
      })
  }

  function refreshFilesList(e) {
    if(e.detail.refreshIntegration) {
      getIntegrationFiles();
    } else if(e.detail.refreshCrowdin) {
      getCrowdinFiles();
    }
  }

  function uploadFilesToCrowdin(e) {
    if(e.detail.length === 0) {
      document.querySelector('crowdin-toasts').pushToasts(['Select files that will be downloaded to Crowdin']);
      return;
    }
    const fileIds = event.detail.map(({id, name, settings, create_time, parent_id, node_type}) =>
      ({id, name, settings, create_time, parent_id, node_type}));
    let el = document.querySelector('crowdin-simple-integration');
    el.setAttribute('is-to-crowdin-process', true);
    checkOrigin()
      .then(restParams => {
        return fetch('/upload-to-crowdin' + restParams, {
          method: 'POST',
          headers: {'Content-Type': 'application/json'},
          body: JSON.stringify(fileIds)
        })
      })
      .then((response) => {
        return checkResponse(response);
      })
      .then(res => {
        showToast(fileIds.length === 1 ? 'File imported successfully' : 'Files imported successfully');
        el.setAttribute('is-to-crowdin-process', false);
        getCrowdinFiles();
      })
      .catch(e => {
        el.setAttribute('is-to-crowdin-process', false);
        catchRejection(e, 'Can\'t upload files to Crowdin');
      });
  }

  function uploadFilesToIntegration(e) {
    if(Object.keys(e.detail).length === 0) {
      document.querySelector('crowdin-toasts').pushToasts([`Select files that will be uploaded to ${manifest.name}`]);
      return;
    }
    const fileIds = event.detail;
    let el = document.querySelector('crowdin-simple-integration');
    el.setAttribute('is-to-integration-process', true);
    checkOrigin()
      .then(restParams => {
        return fetch('/upload-to-integration' + restParams, {
          method: 'POST',
          headers: {'Content-Type': 'application/json'},
          body: JSON.stringify(fileIds)
        })
      })
      .then((response) => {
        return checkResponse(response);
      })
      .then(res => {
        showToast(Object.keys(fileIds).length === 1 ? 'File exported successfully' : 'Files exported successfully');
        el.setAttribute('is-to-integration-process', false);
        getIntegrationFiles();
      })
      .catch(e => {
        el.setAttribute('is-to-integration-process', false);
        catchRejection(e, 'Can\'t upload files to integration');
      });
  }

  document.body.addEventListener('refreshFilesList', refreshFilesList);
  document.body.addEventListener('uploadFilesToCrowdin', uploadFilesToCrowdin);
  document.body.addEventListener('uploadFilesToIntegration', uploadFilesToIntegration);
</script>
</body>
</html>